@using Sanatorium.Core.Posts
@using Sanatorium.Core.Authors

                    <!-- Start Single Post  -->
                    <div class="col-lg-6 col-xl-6 col-md-12 col-12 mt--30">
                        <div class="content-block content-direction-column axil-control post-horizontal  thumb-border-rounded">
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" href="@Post.PostLink">
                                            <span class="hover-flip-item">
                                                <span data-text="@Post.MainTopic">@Post.MainTopic</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title"><a href="@Post.PostLink">@Post.Title</a></h4>
                                <div class="post-meta">
                                    <div class="post-author-avatar border-rounded">
                                        <img src="@Author.ImageUrl" alt="@Author.NameEncoded">
                                    </div>
                                    <div class="content">
                                        <h6 class="post-author-name">
                                            <a class="hover-flip-item-wrapper" href="@Author.AuthorLink">
                                                <span class="hover-flip-item">
                                                    <span data-text="@Author.Name">@Author.Name</span>
                                                </span>
                                            </a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>@Post.PublishDate</li>
                                            <li>@Post.ViewCount Visninger</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="post-thumbnail">
                                <a href="@Post.PostLink">
                                    <img id="featured-post-image" src="@Post.ImageUrl" alt="@Post.TitleEncoded">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post  -->

@code {
    [Parameter]
    public Post? Post { get; set; }

    [Parameter]
    public Author? Author { get; set; }
}