<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized >
                        Du skal være logget ind for at kunne dette.
                    </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Siden blev ikke fundet.</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Ups, siden er tom!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>